<div class="card-long">
  <div class="card-long__left">
    <div class="card-long__left__title">
      Codeberg – Fast Open Source Alternative to GitHub
    </div>
    <div class="card-long__left__info">
      <p class="card-long__left__info--text">274 points by oblio</p>
      <span class="card-long__left__info--separator"></span>
      <p class="card-long__left__info--text">codeberg.org</p>
      <span class="card-long__left__info--separator"></span>
      <div class="card-long__left__info--last-updated">
        <img
          ngSrc="./assets/images/clock.svg"
          alt="clock"
          width="24"
          height="24"
        />
        <p class="--time">4 hours ago</p>
      </div>
      <div class="card-long__left__info--badge">Trending</div>
    </div>
  </div>
  <div class="card-long__right">
    <button type="button">
      <img
        ngSrc="./assets/images/comment.svg"
        alt="clock"
        width="24"
        height="24"
      />
      95 Comment

      <img
        ngSrc="./assets/images/arrow-right.svg"
        alt="clock"
        width="16"
        height="16"
      />
    </button>
  </div>
</div>
