:host{
  width: 100%;
  grid-column: 1/-1;
}
.card-long {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  padding: 18px;
  height: 82px;
  box-shadow: 0 4px 4px 0 rgba(79, 97, 123, 0.08);
  background: #fff;

  &:hover {
    background: #fff6f1;
  }

  &__left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #242424;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 13px;

      &--text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #808080;
      }

      &--separator {
        width: 1px;
        height: 12px;
        background: #8b8b8b;
      }

      &--last-updated {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 4px;

        .--time {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 12px;
          color: #8b8b8b;
        }
      }

      &--badge {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;

        border-radius: 4px;
        padding: 2px 10px;
        width: 71px;
        height: 19px;

        background: #ff8780;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 8px;

    button {
      border: none !important;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 4px;
      border-radius: 6px;
      padding: 8px 10px;
      height: 32px;
      background: #ffeadc;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 12px;
      color: #f60;
      align-items: center;
    }
  }
}
