<div class="card">
  <div class="card__title">
    Codeberg – Fast Open Source Alternative to GitHub
  </div>
  <div class="card__content">
    <p class="card__content--info">274 points by oblio</p>
    <span class="card__content--separator"></span>
    <p class="card__content--info">codeberg.org</p>
  </div>
  <div class="card__border"></div>
  <div class="card__action">
    <div class="card__action--wrapper">
      <div class="card__action--wrapper__last-updated">
        <img
          ngSrc="./assets/images/clock.svg"
          alt="clock"
          width="24"
          height="24"
        />
        <p class="--time">4 hours ago</p>
      </div>
      <div class="card__action--badge">Trending</div>
    </div>

    <div class="card__action--button">
      <button type="button">
        <img
          ngSrc="./assets/images/comment.svg"
          alt="clock"
          width="24"
          height="24"
        />
        95 Comment

        <img
          ngSrc="./assets/images/arrow-right.svg"
          alt="clock"
          width="16"
          height="16"
        />
      </button>
    </div>
  </div>
</div>
