<div class="card">
  <div class="card__title">
    {{ topic.title }}
  </div>
  <div class="card__content">
    <p class="card__content--info">
      {{ topic.score }} points by {{ topic.by }}
    </p>
    <span class="card__content--separator"></span>
    <p class="card__content--info">codeberg.org</p>
  </div>
  <div class="card__border"></div>
  <div class="card__action">
    <div class="card__action--wrapper">
      <div class="card__action--wrapper__last-updated">
        <img
          ngSrc="./assets/images/clock.svg"
          alt="clock"
          width="24"
          height="24"
        />
        <p class="--time">{{ topic.time | dateDiff }} ago</p>
      </div>
      <div class="card__action--badge">Trending</div>
    </div>

    <div class="card__action--button">
      <button type="button" (click)="emitModal(topic)">
        <img
          ngSrc="./assets/images/comment.svg"
          alt="clock"
          width="24"
          height="24"
        />
        {{ topic.kids?.length }} Comment

        <img
          ngSrc="./assets/images/arrow-right.svg"
          alt="clock"
          width="16"
          height="16"
        />
      </button>
    </div>
  </div>
</div>
