/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
:root {
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #F5F7FC;
}

h1, h2, h3, h4, h5, h6, p { margin: 0px }