/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
:root {
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #f5f7fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.custom-backdrop {
  background: rgba(79, 97, 123, 0.5);
}

.custom-window {
  box-shadow: 0 2px 6px 0 rgba(79, 97, 123, 0.08);
  border-radius: 10px;
  padding: 30px;
}
